<%= link_to "Add property", new_property_path %>
<%= link_to "Search Property", root_path, style: "padding-left: 5px;" %>

<table>
  <thead>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </thead>
  <tbody>
    <% @properties.each do |prop| %>
      <tr>
        <td><%= prop.address %></td>
        <td><%= prop.lonlat.y %></td>
        <td><%= prop.lonlat.x %></td>
        <td><%= link_to "Delete", property_path(prop), method: :delete %></td>
      </tr>
    <%  end %>
  </tbody>
</table>
